
{% paginate collection.products by 20 %}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">{{collection.title}}</h2>
    </div>
</div>

<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            
            {% include 'sidebar' %}

            <div class="col-lg-9 col-md-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>{{ collection.all_products_count }}</span> products Total</div>
<!--
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                                        <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>price</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
-->
                    </div>


                    <div class="row">
                        <div class="product_grid_border"></div>

                        <!-- Product Item -->
                        {% for product in collection.products %}
                        <div class="product_item is_new">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                <img class="lazy" data-src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" style="width:100%; height:115px;">
                            </div>
                            <div class="product_content">
                                <div class="product_pric">{{ product.price | money }}</div>
                                <div class="product_name"><div><a href="{{ product.url | within: collection }}" tabindex="0">{{ product.title }}</a></div></div>
                            </div>
                            <div class="product_fav"><i class="fas fa-heart"></i></div>
<!--
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
-->
                        </div>
                        {% endfor %}

                    </div>
                        
                    {% if paginate.pages > 1 %}
                        
                        <div class="shop_page_nav d-flex flex-row">
                            {% if paginate.previous.is_link %}
                            <a href="{{ paginate.previous.url }}">
                                <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                            </a>
                            {% endif %}
                            <ul class="page_nav d-flex flex-row">
                               {% for part in paginate.parts %}
                               {% if part.is_link %}
                                <li><a href="{{part.url}}">{{ part.title }}</a></li>
                                {% elsif current_page %}
                                <li><a class="disabled">{{ part.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% if paginate.next.is_link %}
                            <a href="{{ paginate.next.url }}">
                                <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    

                </div>

            </div>
        </div>
    </div>
</div>
{% endpaginate %}


{% section 'brands' %}